Modware-*
.build/
!modware-update
!modware-export
!modware-transform
!modware-load
!modware-import
locallib/
data/
config/
log/
sqlnet.log
tmp/
perltidy.LOG
*.gaf
nytprof*
gaf_check/
local/
.carton/
.perl-version

